body {
    font-family: 'Inter';
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9F9F9;
}
  
ul.topnav li {
    float: left;
}
  
ul.topnav li a.active {
    display: block;
    color: #F9F9F9;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    background-color: #007BFF;
    border-color: #007BFF;
}

ul.topnav li.right {
    float: right;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

ul.topnav li a.dosenright {
    display: block;
    color: #444444;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    background-color: #F9F9F9;
}
  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.fa-circle {
    color: #007BFF;
}

.btndownload{
    background-color: #F4AB43;
    padding-left: 25px;
    padding-right: 25px;
}

.btndownload:hover {
    background-color: #d78e28;
}

thead th {
    background-color: #007BFF  !important;
    color: #F9F9F9  !important;
}

tbody td {
    background-color: #F9F9F9 !important;
}

.textcolor {
    color: #444444;
}

.btnaksi {
    font-size: small;
}

.btnedit {
    background-color: #F4AB43;
    color: #F9F9F9;
}

.btnhapus {
    background-color: #E46050;
    color: #F9F9F9;
}